* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  
    &::before,
    &::after {
      box-sizing: border-box;
    }
}

html {
    font-family: $font-family;
    font-size: 100%;

    position: relative;
    z-index: $z-index-html;

    // Чинит flex-grow для body в IE11
    display: flex;
    flex-direction: column;

    color: $color-text;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;

    height: 100%;
    min-height: 100%;

    text-rendering: optimizeLegibility;
}

input {
    &[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;

            -webkit-appearance: none;
        }
    }

    &::-ms-clear {
        display: none;
    }
}

img {
    display: block;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;

    &:not([class]) {
        margin-bottom: rem($gap-normal);

        @include resetting-vertical-indentation-of-last;
    }
}

ul {
    margin-top: 0;
    margin-bottom: 0;

    @include list-reset;
}