@mixin resetting-vertical-indentation-of-first {
    &:first-child {
        margin-top: 0;
    }
}

@mixin resetting-vertical-indentation-of-last {
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin text-ellipsis {
    display: block;
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

@mixin txt-2 ($font-weight: $font-weight-light) {
    $font-size: $font-size-medium;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-medium / $font-size);
}

@mixin txt-3 ($font-weight: $font-weight-light) {
    $font-size: $font-size-normal;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-normal / $font-size);
}

@mixin txt-4 ($font-weight: $font-weight-light) {
    $font-size: $font-size-small;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-small / $font-size);
}

@mixin txt-6 ($font-weight: $font-weight-light) {
    $font-size: $font-size-tiny;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-tiny / $font-size);
}

@mixin help-text ($font-weight: $font-weight-regular) {
    $font-size: $font-size-mini;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-mini / $font-size);
}

@mixin h-5 ($font-weight: $font-weight-semibold) {
    $font-size: $font-size-large;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-large / $font-size);
}

@mixin h-6 ($font-weight: $font-weight-semibold) {
    $font-size: $font-size-average;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-average / $font-size);
}

@mixin btn-s ($font-weight: $font-weight-regular) {
    $font-size: $font-size-small;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-btn-s / $font-size);
}

@mixin btn-l ($font-weight: $font-weight-regular) {
    $font-size: $font-size-medium;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-btn-l / $font-size);
}

@mixin btn-m ($font-weight: $font-weight-regular) {
    $font-size: $font-size-normal;

    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: ($line-height-btn-m / $font-size);
}