.content {
    &--divided {
        @media #{$screen-tablet} {
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(248, 248, 254, 1) 50%, rgba(248, 248, 254, 1) 100%);
        }
    }

    &--divided & {
        &__container {
            display: flex;

            @media #{$screen-tablet} {}
        }

        &__secondary {
            display: none;

            @media #{$screen-tablet} {
                display: block;

                width: percentage(424 / 1240);
            }
        }

        &__main {
            display: flex;
            flex-direction: column;

            width: 100%;

            @media #{$screen-tablet} {
                width: percentage(816 / 1240);
            }
        }
    }

    &__main {
        min-height: 100vh;
    }
}